body {
    height: 100%;
}

#map {
    height: calc(100vh - 60px);
}

#station {
    position: absolute;
    margin: 1em;
}

#station > .card {
    height: calc(100vh - 60px - 2em);
    overflow-y: scroll;
}

.indicator {
    width: 50px;
    margin-right: 0.5em;
}
